<!-- <H1>Admin Page</H1> -->


<%- include("navbar.ejs")%>

<head>
    <title>Marquee Tag</title>
    <style>
        .main {
            text-align: center;
        }

        .marq {
            padding-top: 30px;
            padding-bottom: 30px;
            margin-top:30px;
            /* background-image:url("https://plus.unsplash.com/premium_photo-1683309565422-77818a287060?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
            */
        }

        .geek1 {
            font-size: 90px;
            font-weight: bold;
            color: white;
            padding-bottom:5px;
            
        }
        .geek2{
           margin-left: 99px;
            font-size: 40px;
            font-family: fantasy;
            color: grey;
        }
    </style>
</head>

<body>
    <div class="main">
        <marquee class="marq bg-dark" 
                 direction="right" loop="">
            <div class="geek1">
                WELCOME
            </div>
            <div class="geek2">
                To Portfolio
               
            </div>
        </marquee>
    </div>
</body>

</html>
<%- include("footer.ejs")%>
